<!-- templates/login.html -->
{% extends 'base.html' %}

{% block content %}
<h2 style="margin-bottom: 10px;">Login to MyVault 🔐</h2>

<form method="POST" class="form-card">
    <label>👤 Username:</label><br>
    <input type="text" name="username" required><br><br>

    <label>🔑 Password:</label><br>
    <input type="password" id="password" name="password" required><br><br>

    <input type="checkbox" onclick="togglePassword()"> Show Password<br><br>

    <button type="submit">🔓 Login</button>
</form>

<p style="margin-top: 15px;">New here? <a href="/register">Register Now</a></p>

<script>
function togglePassword() {
    const input = document.getElementById("password");
    input.type = input.type === "password" ? "text" : "password";
}
</script>
{% endblock %}
